<form [formGroup]="userDetails">
    <div class="form-group">
        <label>First name </label>
        <input formControlName="firstName" type="text" class="form-control" aria-describedby="firstNameHelp"
            placeholder="Enter first name">
        <label class="errorMessage firstName"></label>
    </div>
    <div class="form-group">
        <label> Last name </label>
        <input formControlName="lastName" type="text" class="form-control" aria-describedby="lastNameHelp"
            placeholder="Enter last name">
        <label class="errorMessage lastName"></label>
    </div>
    <div class="form-group">
        <label>Email </label>
        <input formControlName="email" type="email" class="form-control" aria-describedby="emailHelp"
            placeholder="Enter email">
        <label class="errorMessage email"></label>
    </div>
    <button (click)="saveUserDetails()" type="submit" class="btn btn-primary">Save</button>
</form>