<form [formGroup]="loginForm">
    <div *ngIf="!login">
        <div class="email">
            <div class="labelForm"> Email :</div>
            <input class="inputForm" formControlName="email">
        </div>
        <div class="password">
            <div class="labelForm"> Password :</div>
            <input class="inputForm" formControlName="password">
        </div>
        <div>
            <button class="submitButton" (click)="submitForm()"> Sign in </button>
        </div>
    </div>
    <div class="spinner" *ngIf="login">
        <mat-spinner></mat-spinner>
    </div>
</form>